body {
	font: 12px/18px Arial, Sans-serif;
	background: #eaeaea;
	color: #333;
}


a {
	text-decoration: none;
	color: #1c7cae;
}
a:hover {
	text-decoration: underline;
}

/* Headers */
h1 {
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 5px 0;
}

p { margin: 0 0 10px 0; }

header {
	background: #222;
	color: #FFF;
	height: 55px;
	line-height: 55px;
}
	header section {
		width: 1000px;
		margin: 0 auto;
	}

	header ul li {
		float: left;
		margin: 0 0 0 20px;
	}
	header section .search {
		float: right;
		margin: 2px 38px -2px 0;
	}
		.search input[type=text] {
			border: 1px solid #666;
			padding: 4px 5px;
			font-size: 14px;
			width: 260px;
			
		}


#container {
	width: 1000px;
	margin: 0 auto;
	position: relative;

}

#left_content {
	width: 450px;
	float: left;
	margin: 20px 25px 0 30px;

	-o-transition-property: width;
	-o-transition-duration: 0.5s;
	-o-transition-delay: 0.05s;

	-webkit-transition-property: width;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0.05s;
}
	#left_content.hide {
		width: 0;
		height: 0;
		overflow: hidden;
	}

#title_line {
	width: 110px;
	background: #222;
	color: #FFF;
	float: left;
	height: 500px;
}

#subj_list {
	float: left;
	margin: 20px 0 0 0;
}


	#subj_list ul li {
		line-height: 24px;
		background: #FFF;
		color: #666;
		width: 440px;
		margin: 0 0 3px 0;
		padding: 0 0 0 15px;

		-o-transition-property: width;
		-o-transition-duration: 0.2s;
		-o-transition-delay: 0.55s;

		-webkit-transition-property: width;
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0.55s;
	}
		#subj_list ul li.wider {
			width: 450px;

			-o-transition-property: width;
			-o-transition-duration: 0.2s;

			-webkit-transition-property: width;
			-webkit-transition-duration: 0.2s;
		}


	#subj_list ul li:hover {
		color: #111;
		cursor: pointer;
	}
	
		#subj_list ul li span {
			width: 70px;
			color: #1c7cae;

			display: block;
			float: left;
		}


#more_info {
	padding: 0;
	height: 0;

	width: 440px;
	overflow: hidden;
	position: absolute;
	z-index: 10;
	left: 520px;
	top: 20px;
	background: #fff;
	-o-transition-property: height, width;
	-o-transition-duration: 0.5s, 0.2s;
	-o-transition-delay: 0.6s, 0s;

	-webkit-transition-property: height, width;
	-webkit-transition-duration: 0.5s, 0.2s;
	-webkit-transition-delay: 0.6s, 0s;
}
	#more_info.show {
		height: 350px;
		overflow: auto;

	}

	#more_info.show.expanded {
		width: 0;
	}

	#more_info div {
		padding: 15px;
	}





.clear { clear: both; }